body {
    background-color: white;
    padding: 0;
    margin: 0px;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    align-items: center;
    font-size: large;
    background-color: #1F2937;
    color: white;
    padding: 10px 0px 10px 100px;
}

#headerleft {
    font-weight: 700;
    margin-right: auto;
    font-size: large;
}

#headerright {
    padding: 10px;
    margin-right: 20px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    flex-wrap: wrap;
}

#title {
    display: flex;
    font-size: 60px;
    position: relative;
    width: 40%;
    margin: 0%;
    right: 30%;
}

#description {
    font-weight: 100;
    color: lightgray;
    text-align: left;
    position: relative;
    right: 30%;
    width: 50%;
    height: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

#button {
    background-color: #3882F6;
    color: white;
    border: #3882F6;
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
    font-size: large;
    position: relative;
    margin-top: 5px;
    overflow: auto;
    display: flex;
    right: 30%
}


#image {
    float: right;
    /* align-items: end; */
    vertical-align: middle;
    background-color: gray;
    padding: 40px 60px 40px 60px;
    text-align: center;
    height: 200px;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 20%;
    bottom: 300px;


}

#title2 {
    text-align: center;
    font-size: 50px;
}

.body2 {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 9%;
}

#imagetext {
    flex-wrap: wrap;
    display: flex;
    color: gray;
    justify-content: center;
    width: 40%;
    padding-left: 9%;
}

#imageplaceholder {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: solid;
    border-color: blue;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    color: white;
}

.body3 {
    background-color: #E5E7EB;
}



.body4 {
    background-color: #3882F6;
    color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
}